{% extends "base.html.twig" %}

{% block title %}
    Ajout d'un nouveau modèle
{% endblock %}

{% block body %}
    <h2>Ajout d'un modèle</h2>

    <h3>Formulaire d'ajout d'un modèle</h3>

    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        </br>
        {{ form_row(form.marque) }}
        </br>
        <button type="submit">Ajouter un nouveau modèle</button>
        </br>
        <a href="{{ path("app_reprise_index") }}"><input type="button" name="Annuler"value="Annuler"/></a>
        {{ form_end(form) }}
        </br>
    </div>
    <p>
        Attention, vous allez enregistrer un nouveau modèle dans la base de données.
    </p>
{% endblock %}