body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.logo-blk {
    flex-grow: 1;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
}

div.logo-blk > img {
    width: 50px;
}

div.logo-blk > img:nth-child(2) {
    margin: 0 20px 0 20px;
}

div.title-blk {
    position: relative;
    flex-grow: 1;
    width: 600px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.title-blk > div.admin-tag {
    height: 20px;
    position: relative;
    background-color: #00336f;
    color: white;
    width: 100px;
    text-align: center;
    transform: rotate(-40deg) skew(50deg, 0);
    top: 53px;
    left: 322px;
    border-radius: 5px 0 5px 0;
    z-index: 100;
}

div.title-blk > div.admin-text {
    position: relative;
    color: white;
    width: 100px;
    font-weight: bold;
    text-align: center;
    transform: rotate(-40deg);
    top: 72px;
    left: 322px;
    font-size: 12px;
    z-index: 101;
}

div.title-blk > h1 {
    font-size: 1.7em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

div.title-blk > h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: right;
}

div.login-blk {
    background-color: #d6d6d6;
    border-radius: 0.5em;
    padding: 1em;
    width: 600px;
}

div.login-blk form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

input:focus {
    outline: none;
    border-color: rgba(34,36,38,.15) !important;
}

div.login-blk form > div.input:first-child {
    margin-bottom: 5px;
}

div.login-blk div.error-blk {
    margin: 10px 0 10px 0;
    min-height: 31px;
}

div.login-blk div.error-blk > div.error-form {
    min-height: 25px;
    max-height: 25px;
}

#forgetPasswordModal div.error-blk:not(:empty) {
    margin-top: 10px;
}