{% extends "base.html.twig" %}

{% block body %}
    <h1>Portail VO</h1>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h3> ~Accès que par le vendeur~ : <a href="{{ path("app_reprise_add") }}">Ajouter une reprise</a></h3>


    <h3> ~Accès que par le référent VO~ : <a href="{{ path("app_reprise_liste") }}">Consulter les reprises</a></h3>
{% endblock %}
