<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}Portail VO | Connexion{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}
</head>
<body>
<div class="title-blk">
    <h1>Portail VO</h1>
    <h2>...Connexion</h2>
</div>

<div class="login-blk">
    <form method="post" novalidate>
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email"
                   value="{{ lastUsername }}"
                   name="_username"
                   id="inputUsername"
                   placeholder="identifiant..."
                   required>
        </div>

        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password"
                   name="_password"
                   id="inputPassword"
                   placeholder="mot de passe..."
                   required>
        </div>

        <input type="hidden"
               name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="error-blk">
            {% if error %}
                <div class="error-form">Les identifiants saisis sont incorrects</div>
            {% endif %}
        </div>

        <div class="button-blk">
            <button class="ui right labeled right floated loadable green large icon button">
                <i class="right arrow icon"></i>
                <span>Connexion</span>
            </button>
        </div>
    </form>
</div>

<div class="logo-blk">
    <img src="{{ asset('images/logo/by_sdvi_200px.png') }}" alt="">
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
</body>
</html>

