{% extends "base.html.twig" %}

{% block title %}
Détail de la reprise
{% endblock %}

{% block titrePage %}
    Le détail du véhicule :
{% endblock %}
{# on affiche les informations enregritrés ou non de la reprise #}
{% block body %}
    L'imatriculation du véhicule : {{ reprise.numImmat }}
    </br>
    L'estimation actuelle du véhicule est de :{% if reprise.estiActuelle is null %}
        Le véhicule n'a pas été estimé pour le moment.
        {% else %}
        {{ reprise.estiActuelle.prix }} €
        {% endif %}
    </br>
    La marque du vehicule :{% if reprise.marque is null %} 
        La marque du véhicule n'a pas encore été ajoutée.
        {% else %}
        {{ reprise.marque }}
        {% endif %}
    </br>
    La date de mise en circulation du vehicule : {% if reprise.dateCirculation is null %}
        La date de circulation du véhicule n'est pas connue.
        {% else %}
        {{ reprise.dateCirculation |date("d/m/Y") }}
        {% endif %}
    </br>
    </br>
    Le clients a renseigné {{ reprise.completion }} % des informations du vehicule.
    </br>
    </br>
    {% if reprise.estiActuelle is null %}
    {% else %}
        La dernière estimation a été faite avec un taux de complétion de {{ reprise.estiActuelle.repCompletion }}%, le {{ reprise.estiActuelle.date |date("d/m/Y \à H:i") }}.
        </br>
        </br>
    {% endif %}
    {# boutons qui permettent de changer de page pour pouvoir effectuer l'action qu'ils decrivent #}
    <a href="{{ path("app_reprise_edit", {"repriseId":reprise.id}) }}"><input type="button" name="Ajouter/modifier les informations de reprise"value="Ajouter/modifier les informations du vehicule"/></a>
    <a href="{{ path("app_reprise_estimation", {"repriseId":reprise.id}) }}"><input type="button" name="Nouvelle estimation de la reprise"value="Nouvelle estimation de la reprise"/></a>
    <a href="{{ path("app_reprise_liste") }}"><input type="button" name="Retour"value="Retour"/></a>

    <h3>Historique des estimations du véhicule :</h3>
    {% if reprise.estiActuelle is null %}
        Pas d'estimations pour le moment.
    {% else %}
        <table>
            <tr>
                <th>Fait le</th>
                <th>Prix de l'estimation</th>
                <th>Complétion</th>
                <th>Modifié par</th>
            </tr>
                {% for esti in reprise.estimations %}
                    <tr>
                        <td>{{ esti.date |date("d/m/Y \à H:i") }}</td>
                        <td>{{ esti.prix }}€</td>
                        <td>{{ esti.repCompletion }}%</td>
                        <td>{{ esti.employe }}</td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
{% endblock %}
