{% extends "base.html.twig" %}

{% block title %}
Estimation du véhicule
{% endblock %}
{# page d'affichage du formulaire de l'estimation du vehicule #}
{% block body %}
    <h2>Ajouter/modifier l'estimation du véhicule</h2>

    <h3>Formulaire estimation du véhicule</h3>

    <div class="well">
        {{ form_start(form, {'attr':{'novalidate': 'novalidate'}}) }}
        {{ form_row(form.prix) }}
        </br>
        <button type="submit">Nouvelle estimation du vehicule</button>
        {{ form_end(form) }}
    </div>
</br>
<a href="{{ path("app_reprise_detail", {"repriseId":reprise.id}) }}"><input type="button" name="Annuler"value="Annuler"/></a>


    <p>
        Attention cette estimation sera ajoutée directement sur la page du détail d'un vehicule après validation du formulaire.
    </p>

{% endblock %}