{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('reprise_form') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('reprise_form') }}
{% endblock %}

{% block title %}
    {{ ajouter == true ? 'Ajout d\'une nouvelle reprise' : 'Modification d\'une reprise' }}
{% endblock %}

{% block body %}
    {# si on ajoute une reprise... #}
    {% if ajouter == true %}
        <h2>Ajouter une reprise</h2>

        <h3>Formulaire de reprise du vehicule</h3>
    {% else %} {# ...ou si on modifie une reprise #}
        <h2>Modifier les informations du véhicule</h2>

        <h3>Formulaire informations du véhicule</h3>
    {% endif %}
    {# affichage du formulaire et de ses données #}
    <div class="well">
        {{ form_start(form, {'attr':{'novalidate': 'novalidate'}}) }}
        {{ form_row(form.numImmat) }}
        </br>
        <div id="choixMarque">
            {{ form_label(form.marque) }}
            {{ form_errors(form.marque) }}
            {{ form_widget(form.marque, {'attr': {'class': 'ui dropdown'}}) }}
        </div>
        </br>
        <a href="{{ path("app_marque_add") }}"><input type="button" name="Ajouter une marque"value="Ajouter une marque"/></a>
        </br>
        </br>
        <div id="choixModele"
             data-url="{{ path('app_modele_modelespourmarque') }}"
             data-listemodele="{{ listeModele|json_encode }}">
            {{ form_label(form.modele) }}
            {{ form_errors(form.modele) }}
            {{ form_widget(form.modele, {'attr': {'class': 'ui disabled dropdown'}}) }}
        </div>
        </br>
        <a href="{{ path("app_modele_add") }}"><input type="button" name="Ajouter un modele"value="Ajouter un modele"/></a>
        </br>
        </br>
        {{ form_row(form.dateCirculation) }}
        </br>
        {# bouton qui permet d'ajouter les informations d'un véhicule si on ajoute un véhicule ou de les modifiers #}
        <button type="submit">{{ ajouter == true ? 'Ajouter' : 'Modifier' }}</button>
        {{ form_end(form) }}
    </div>
    </br>
    {% if ajouter == true %}
    <a href="{{ path("app_reprise_index") }}"><input type="button" name="Annuler"value="Annuler"/></a>
    <p>
        Attention les informations de cette reprise seront ajoutées directement sur la page d'acceuil après validation du formulaire.
    </p>
    {% else %}
    <a href="{{ path("app_reprise_detail", {"repriseId":reprise.id}) }}"><input type="button" name="Annuler"value="Annuler"/></a>
    <p>
        Attention les informations de cette reprise seront modifiées directement sur la page du détail d'un vehicule après validation du formulaire.
    </p>
    {% endif %}
    <p>* : champ(s) obligatoire(s).
    </p>
{% endblock %}