{% extends "base.html.twig" %}

{% block title %}
    Liste des reprises
{% endblock %}

{% block titrePage %}
    Les différentes reprises
    
{% endblock %}

{% block body %}
    {# affichage d'un tableau avec la liste des reprises renseignés ainsi que leurs infomations #}
    <table>
        <tr>
            <th>Numéro d'immatriculation</th>
            <th>Estimation du véhicule</th>
            <th>Marque du véhicule</th>
            <th>Date de mise en circulation</th>
            <th>Taux d'informations connues du véhicule</th>
            <th>Détail du véhicule</th>
        </tr>
        {# on parcourt la liste des reprises enreritrées pour afficher leurs infos #}
        {% for reprise in reprises %}
            <tr>
                <td>{{ reprise.numImmat }}</td>
                <td>{% if reprise.estiActuelle is null %}
                        estimation en cours...
                    {% else %}
                        {{ reprise.estiActuelle.prix }} € ( {{ reprise.estiActuelle.repCompletion }}% )
                    {% endif %}
                </td>
                <td>{{ reprise.marque == null ? 'élément non renseigné' : reprise.marque }}</td>
                <td>{{ reprise.dateCirculation == null ? 'date non renseignée' : reprise.dateCirculation |date("d/m/Y") }}</td>
                <td><div class="ui indicating progress" data-percent="{{ reprise.completion }}">
                    <div class="bar" style="width: {{ reprise.completion }}%">
                        <div class="progress">{{ reprise.completion }}%</div>
                    </div></td>
                    {# accès au détail de la reprise grâce à son id #}
                <td><a href="{{ path("app_reprise_detail", {"repriseId":reprise.id}) }}">consulter</a></td>
            </tr>      
        {% endfor %}
    </table>
    </br>
    {# bouton permettant de revenir à l'index #}
    <a href="{{ path("app_reprise_index") }}"><input type="button" name="Retour"value="Retour"/></a>
    {# action permettant d'afficher le message correspondant en fonction de l'ajout ou la modification d'une reprise #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
