{% extends "base.html.twig" %}

{% block title %}
    Ajout d'une nouvelle marque
{% endblock %}

{% block body %}
    <h2>Ajout d'une marque</h2>

    <h3>Formulaire d'ajout d'une marque</h3>

    <div class="well">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        </br>
        <button type="submit">Ajouter une nouvelle marque</button>
        </br>
        <a href="{{ path("app_reprise_index") }}"><input type="button" name="Annuler"value="Annuler"/></a>
        {{ form_end(form) }}
        </br>
    </div>
    <p>
        Attention, vous allez enregistrer une nouvelle marque dans la base de données.
    </p>
{% endblock %}